{% extends '@AppBundle/FOSMessageBundle/views/layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block fos_message_content %}

    <h2>{% trans from 'FOSMessageBundle' %} subject {% endtrans %}: {{ thread.subject }}</h2>

    <ul class="info-header">
        <li>{% trans from 'FOSMessageBundle' %} starter {% endtrans %}: <a href="{{ path('user_show', { 'id': thread.createdBy.id }) }}">{{ thread.createdBy }}</a></li>
        <li>{% trans from 'FOSMessageBundle' %} recipient {% endtrans %}:
            {% for participant in thread.participants %}
                {% if participant != thread.createdBy %}
                    <a href="{{ path('user_show', { 'id': participant.id }) }}">{{ participant.username }}</a>
                {% endif %}
            {% endfor %}
        </li>
    </ul>

    {% for message in thread.messages %}
        <div class="border-top">
            <ul class="info-header">
                <li>{% trans from 'FOSMessageBundle' %} sender {% endtrans %}: <a href="{{ path('user_show', { 'id': message.sender.id }) }}">{{ message.sender }}</a></li>
                <li>{% trans from 'FOSMessageBundle' %} created_at {% endtrans %}: {% if message.createdAt %}{{ message.createdAt|date('Y-m-d H:i') }}{% endif %}</li>
            </ul>
            {{ message.body|nl2br }}
        </div>
    {% endfor %}
    <div class="border-top">
        <h3>{% trans from 'FOSMessageBundle' %} reply {% endtrans %}</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-default center-block" type="submit">{% trans from 'FOSMessageBundle' %} send {% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
