{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %} subject {% endtrans %}: {{ thread.subject }}</h2>

<table border=1>
	<tr>
		<th> Id </th>
		<th> Sender </th>
		<th> Created At </th>
		<th>{% trans from 'FOSMessageBundle' %} body {% endtrans %}</th>
	</tr>
	{% for message in thread.messages %}
		<tr>
			<td> {{ message.id }} </td>
			<td> {{ message.sender }} </td>
			<td> {{ message.createdAt|date }} </td>
			<td>{{ message.body }}</td>
		</tr>
	{% endfor %}
</table>

<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>
<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}
    <input type="submit" />
</form>

{% endblock %}
