{% extends 'base.html.twig' %}

{% trans_default_domain "app" %}

{% block title %}{{ 'news.news'|trans }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">{{ 'home'|trans }}</a></li>
        <li class="active">{{ 'news.news'|trans }}</li>
    </ol>

    <h1 class="content-title">{{ 'news.news'|trans }}</h1>

    {# TODO: hardcoded role check, need to check voter permission #}
    {% if not app.user.isStudent %}
        <h4><a href="{{ path('easyadmin', { 'action': 'new', 'entity': 'News' }) }}">{{ 'news.new'|trans }}</a></h4>
    {% endif %}

    {% for news in pagination %}
        <div class="news-block">
            <h3><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.title }}</a></h3>
            <ul class="info-header">
                <li>{{ 'news.posted_on'|trans }} {% if news.date %}{{ news.date|date('Y-m-d H:i') }}{% endif %}</li>
                <li>{{ 'author'|trans }}: <a href="{{ path('user_show', { 'id': news.author.id }) }}">{{ news.author }}</a></li>
            </ul>
            <p>{{ news.description|slice(0, 500) }}...</p>
        </div>
    {% endfor %}

    {{ knp_pagination_render(pagination) }}

{% endblock %}
