{% extends '@AppBundle/views/easy_admin/show.html.twig' %}

{% block content_title %}
    {% spaceless %}
        <div class="row user-header">
            <div class="col-sm-2 gravatar"><img src="{{ gravatar_url }}{{ entity.email|gravatar }}"/></div>
            <div class="col-sm-10 username">{{ entity }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block main %}
    {{ parent() }}

    {% if entity.islector %}
        <h4>{{ 'lectures'|trans(_trans_parameters, 'EasyAdminBundle') }}</h4>
        <div class="table-responsive">
            <table class="table custom-table">
                <thead>
                <tr>
                    <th class="string">
                        {{ 'title'|trans(_trans_parameters, 'EasyAdminBundle') }}
                    </th>
                </tr>
                </thead>
                {% if lectures is not null %}
                    {% for lecture in lectures %}
                    <tr>
                        <td class="string">
                            <a class="" href="{{ path('easyadmin', {'action': 'show', 'entity': 'Lecture', 'id': lecture.id}) }}">{{ lecture.title }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    {% elseif entity.isStudent and is_granted('list', entity) %}
            <h4>{{ 'submitted.homework'|trans(_trans_parameters, 'EasyAdminBundle') }}</h4>
            <div class="table-responsive">
                <table class="table custom-table">
                    <thead>
                    <tr>
                        <th class="string">
                            {{ 'homework'|trans(_trans_parameters, 'EasyAdminBundle') }}
                        </th>
                        <th class="string">
                            {{ 'grade'|trans(_trans_parameters, 'EasyAdminBundle') }}
                        </th>
                    </tr>
                    </thead>
                        {% for assignment in assignments %}
                            <tr>
                                <td class="string">
                                    <a class="" href="{{ path('easyadmin', {'action': 'show', 'entity': 'Assignment', 'id': assignment.id}) }}">{{ assignment.homework.title }}</a>
                                </td>
                                <td class="string">
                                    {{ assignment.grade }}
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
    {% endif %}
{% endblock %}
