<h4>{{ 'my.assignment'|trans(_trans_parameters, 'EasyAdminBundle') }}</h4>

<div class="form-horizontal">
    <div class="form-group field-string ">
        <label class="col-sm-2 control-label">
            {{ 'file'|trans(_trans_parameters, 'EasyAdminBundle') }}
        </label>
        <div class="col-sm-10">
            <div class="form-control">
                <a href="/admin/download/homework/{{ my_assignment.work }}">{{ my_assignment.work }}</a>
            </div>
        </div>
    </div>
    <div class="form-group field-datetime ">
        <label class="col-sm-2 control-label">
            {{ 'submitted'|trans(_trans_parameters, 'EasyAdminBundle') }}
        </label>
        <div class="col-sm-10">
            <div class="form-control">
                {{ my_assignment.date|date('Y-m-d H:i:s') }}
            </div>

        </div>
    </div>
    <div class="form-group field-string ">
        <label class="col-sm-2 control-label">
            {{ 'grade'|trans(_trans_parameters, 'EasyAdminBundle') }}
        </label>
        <div class="col-sm-10">
            <div class="form-control">
                {{ my_assignment.grade }}
            </div>

        </div>
    </div>
    <div class="form-group form-actions">
        <div class="col-sm-10 col-sm-offset-2">
            <a class="" href="/admin/?action=show&entity=Assignment&id={{ my_assignment.getId }}">
                {{ 'show.action'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </a>
        </div>
    </div>

</div>
