{% extends '@AppBundle/views/easy_admin/show.html.twig' %}
{% form_theme grade_form with easyadmin_config('design.form_theme') %}

{% block main %}

    {{ parent() }}

    {% if is_granted('grade', entity) %}

        <h4>{{ 'grade'|trans(_trans_parameters, 'EasyAdminBundle') }}</h4>
        <div class="form-horizontal">
            {{ form_start(grade_form) }}
            {{ form_widget(grade_form) }}
            <button class="btn btn-default" type="submit">{{ 'submit'|trans(_trans_parameters, 'EasyAdminBundle') }}</button>
            {{ form_end(grade_form) }}
        </div>

    {% endif %}

{% endblock %}

