{% extends 'base.html.twig' %}

{% trans_default_domain "app" %}

{% form_theme editForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'user.changePassword'|trans }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('user_index') }}">{{ 'user.users'|trans }}</a></li>
        <li class="active">{{ 'user.changePassword'|trans }}</li>
    </ol>

    <h1 class="content-title">{{ 'user.changePassword'|trans }}</h1>
        <div class="content-body border-top">
            {{ form_start(editForm, {'attr': {'novalidate': 'novalidate'}} ) }}
            {{ form_rest(editForm) }}
            <button type="submit" class="btn btn-default center-block"> {{ 'submit'|trans }} </button>
            {{ form_end(editForm) }}
        </div>

{% endblock %}

