<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{{ asset('assets/img/nfq.png') }}" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('news_index') }}">News</a></li>
				<li><a href="{{ path('lecture_index') }}">Lectures</a></li>
                <li><a href="{{ path('homework_index') }}">Homework</a></li>
                <li><a href="{{ path('user_index') }}">Users</a></li>
                {% if is_granted('ROLE_LECTOR') %}
                    <li><a href="{{ path('easyadmin') }}">Admin page</a></li>
                {% endif %}
            </ul>
			<ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle username" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_message_inbox') }}">Messages</a></li>
                        <li><a href="{{ path('user_show', { 'id': app.user.id }) }}">My Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
		
		<!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
