{% extends 'base.html.twig' %}

{% trans_default_domain "app" %}

{% block title %}{{ lecture.title }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">{{ 'home'|trans }}</a></li>
        <li><a href="{{ path('lecture_index') }}">{{ 'lecture.lectures'|trans }}</a></li>
        <li class="active">{{ lecture.title }}</li>
    </ol>

    <h1 class="content-title">{{ lecture.title }} <br /><small>Lecture</small></h1>
    <hr />
    <p>Date: {% if lecture.date %}{{ lecture.date|date('Y-m-d') }}{% endif %}</p>

    <article>{{ lecture.description }}</article>


    <p><a href="{{ path('lecture_index') }}">{{ 'back_to_the_list'|trans }}</a></p>

{% endblock %}
