{% extends '@EasyAdmin/default/list.html.twig' %}

{% block table_body %}
    {% for item in paginator.currentPageResults %}
        {% set _list_item_actions = custom_get_actions_for_list_item(_entity_config.name, item) %}
        {# the empty string concatenation is needed when the primary key is an object (e.g. an Uuid object) #}
        {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
        <tr data-id="{{ _item_id }}">
            {% for field, metadata in fields %}
                {% set isSortingField = metadata.property == app.request.get('sortField') %}
                {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                <td data-label="{{ _column_label }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
                    {{ easyadmin_render_field_for_list_view(_entity_config.name, item, metadata) }}
                </td>
            {% endfor %}

            {% if _list_item_actions|length > 0 %}
                {% set _column_label =  'list.row_actions'|trans(_trans_parameters, 'EasyAdminBundle') %}
                <td data-label="{{ _column_label }}" class="actions">
                    {% block item_actions %}
                        {{ include('@AppBundle/views/easy_admin/includes/_actions.html.twig', {
                            actions: _list_item_actions,
                            request_parameters: _request_parameters,
                            translation_domain: _entity_config.translation_domain,
                            trans_parameters: _trans_parameters,
                            item_id: _item_id,
                            item: item
                        }, with_context = false) }}
                    {% endblock item_actions %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block delete_form %}
    {% set referer = paginator.currentPage == paginator.nbPages and 1 != paginator.currentPage and 1 == paginator.currentPageResults.count
        ? path('easyadmin', app.request.query|merge({ page: app.request.query.get('page') - 1 }))
        : app.request.requestUri
    %}

    {{ include('@AppBundle/views/easy_admin/includes/_delete_form.html.twig', {
        view: 'list',
        referer: referer|url_encode,
        delete_form: delete_form_template,
        _translation_domain: _entity_config.translation_domain,
        _trans_parameters: _trans_parameters,
        _entity_config: _entity_config,
    }, with_context = false) }}
{% endblock delete_form %}
