{% extends '@EasyAdmin/default/list.html.twig' %}

{% block global_actions %}
    {% if easyadmin_action_is_enabled_for_list_view('search', _entity_config.name) %}
        {% set _action = easyadmin_get_action_for_list_view('search', _entity_config.name) %}

        {% block search_action %}
            <div class="form-action {{ _action.css_class|default('') }}">
                <form method="get" action="{{ path('easyadmin') }}">
                    {% block search_form %}
                        <input type="hidden" name="action" value="search">
                        <input type="hidden" name="entity" value="{{ _request_parameters.entity }}">
                        <input type="hidden" name="sortField" value="{{ _request_parameters.sortField }}">
                        <input type="hidden" name="sortDirection" value="{{ _request_parameters.sortDirection }}">
                        <input type="hidden" name="menuIndex" value="{{ _request_parameters.menuIndex }}">
                        <input type="hidden" name="submenuIndex" value="{{ _request_parameters.submenuIndex }}">
                        <div class="input-group">
                            <input class="form-control" type="search" name="query" value="{{ app.request.get('query')|default('') }}">
                            <span class="input-group-btn">
                                                <button class="btn" type="submit" formtarget="{{ _action.target }}">
                                                    <i class="fa fa-search"></i>
                                                    <span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>
                                                </button>
                                            </span>
                        </div>
                    {% endblock %}
                </form>
            </div>
        {% endblock search_action %}
    {% endif %}

    {% if easyadmin_action_is_enabled_for_list_view('new', _entity_config.name) %}
        {% set _action = easyadmin_get_action_for_list_view('new', _entity_config.name) %}
        {% if _action.role in app.user.roles %}
        {% block new_action %}
            <div class="button-action">
                <a class="{{ _action.css_class|default('') }}" href="{{ path('easyadmin', _request_parameters|merge({ action: _action.name })) }}" target="{{ _action.target }}">
                    {% if _action.icon %}<i class="fa fa-{{ _action.icon }}"></i>{% endif %}
                    {{ _action.label is defined and not _action.label is empty ? _action.label|trans(_trans_parameters) }}
                </a>
            </div>
        {% endblock new_action %}
            {% endif %}
    {% endif %}
{% endblock global_actions %}

{% block item_actions %}
    {% for action in _list_item_actions if action.role in app.user.roles %}
        {% if 'list' == action.name %}
            {% set action_href = _request_parameters.referer|default('') ? _request_parameters.referer|easyadmin_urldecode : path('easyadmin', _request_parameters|merge({ action: 'list' })) %}
        {% elseif 'method' == action.type %}
            {% set action_href = path('easyadmin', _request_parameters|merge({ action: action.name, id: _item_id })) %}
        {% elseif 'route' == action.type %}
            {% set action_href = path(action.name, _request_parameters|merge({ action: action.name, id: _item_id })) %}
        {% endif %}

        <a class="{{ action.css_class|default('') }}" href="{{ action_href }}" target="{{ action.target }}">
            {%- if action.icon %}<i class="fa fa-{{ action.icon }}"></i> {% endif -%}
            {%- if action.label is defined and not action.label is empty -%}
                {{ action.label|trans(arguments = _trans_parameters|merge({ '%entity_id%': _item_id }), domain = _entity_config.translation_domain) }}
            {%- endif -%}
        </a>
    {% endfor %}
{% endblock item_actions %}

